div:not(.sidenav){
    position:absolute;
    width: 105%; 
    height:100%;
    background-size: cover;
    left: 0%; 

}

.main {
    background: url("src\assets\bg1.jpg")  no-repeat center center fixed;
    top: 0%;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: justify ; 
    padding-left: 20%;
    padding-top: 10%;
}

.main a{
    position: absolute;
    top: 2%;
    right: 22%;
}

.second {
    background: url("src\assets\bg4.jpg")  no-repeat center center fixed;
    top:100%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify ; 
    padding-left: 20%;
    padding-top: 10%;

}

.third {
    background: url("src\assets\bg5.jpg")  no-repeat center center fixed;
    top:200%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify ; 
    padding-left: 20%;
    padding-top: 20%;
}
.forth {
    background: url("src\assets\bg3.jpeg")  no-repeat center center fixed;
    top:300%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify ; 
    padding-left: 40%;
    padding-top: 10%;
}
/* .fifth {
    background: url("src\assets\bg5.jpg")  no-repeat center center fixed;
    top:400%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify ; 
    padding-left: 20%;
    padding-top: 10%;
} */

.sidenav {
    margin:40px auto;
    padding:10px 0px 20px 0px;
    border:1px solid #111;
    border-radius:4px;
    box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 50px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
  }
  .sidenav a{
    text-decoration: none;
    color: black;
}
