
<div class="main" id="top">
    <p data-aos="fade-left"  data-aos-offset="0" data-aos-delay="400" data-aos-duration="1000">Miłosz Sobiesiak</p>
    <p data-aos="fade-left"  data-aos-offset="0" data-aos-delay="400" data-aos-duration="1500">Junior Frontend Developer</p>
    <a href="https://github.com/MiloszSobiesiak?tab=repositories" target="_blank"><img src="assets\git.png " height="100" width="100"></a>
</div>
<div class="second" id="second">
    <h2>{{education1.title}}</h2>
    <em>{{education1.first}}</em><br>
    <em>{{education1.second}}</em><br>
    <br>
    <h2>{{education2.title}}</h2>
    <em>{{education2.first}}</em><br>
    <em>{{education2.second}}</em><br>
    <br>
    <h2>{{education3.title}}</h2>
    <em>{{education3.first}}</em><br>
    <em>{{education3.second}}</em><br>
</div>
<div class="third" id="third" >
    <h2>{{work1.title}}</h2>
    <em>{{work1.first}}</em><br>
    <em>{{work1.second}}</em><br>
    <br>
</div>
<div class="forth" id="forth">
    <ul>
        <li >Angular</li>
        <li >TypeScript</li>
        <li >JavaScript</li>
        <li >HTML CSS</li>
        <li >Python</li>
        <li >Jenkins</li>
        <li>Jira</li>
        <li>GitHub</li>
        
    </ul>
</div>
<!-- <div class="fifth" id="fifth">  
</div> -->
<div class="sidenav">
    <a href="#top" >{{menu.home}}</a><br><br>
    <a href="#second">{{menu.education}}</a><br><br>
    <a href="#third">{{menu.work}}</a><br><br>
    <a href="#forth">{{menu.skills}}</a><br><br>
    <!-- <a href="#fifth">{{menu.projects}}</a><br> -->
    <a><img src="assets\polish.png " height="70" width="70" (click)="changepolish()"></a>
    <a><img src="assets\english.png " height="70" width="70" (click)="changeenglish()"></a>
</div>